Title

Introduction:
Provide some relevant background information on the topic so that someone unfamiliar with it will be prepared to understand the rest of your proposal
Clearly state the question you will try to answer with your project
Identify and describe the dataset that will be used to answer the question

Preliminary exploratory data analysis:
Demonstrate that the dataset can be read from the web into R 
Clean and wrangle your data into a tidy format
Using only training data, summarize the data in at least one table (this is exploratory data analysis). An example of a useful table could be one that reports the number of observations in each class, the means of the predictor variables you plan to use in your analysis and how many rows have missing data. 
Using only training data, visualize the data with at least one plot relevant to the analysis you plan to do (this is exploratory data analysis). An example of a useful visualization could be one that compares the distributions of each of the predictor variables you plan to use in your analysis.

Methods:
Explain how you will conduct either your data analysis and which variables/columns you will use. Note - you do not need to use all variables/columns that exist in the raw data set. In fact, that's often not a good idea. For each variable think: is this a useful variable for prediction?
Describe at least one way that you will visualize the results

Expected outcomes and significance:
What do you expect to find?
What impact could such findings have?
What future questions could this lead to?

In [7]:
library(rvest)
library(tidyverse)
library(repr)
library(readxl)
library(tidymodels)
options(repr.matrix.max.rows = 6)

In [32]:
## Preliminary exploratory data analysis
heart_data <- read_csv("heart.csv") |>
    select(Age, Sex, RestingBP, Cholesterol, RestingECG, MaxHR, ExerciseAngina, HeartDisease) |>
    filter(Sex == "M", Age > 24, Age < 40) |>
    mutate(Sex = as.factor(Sex), 
           RestingECG = as.factor(RestingECG), 
           ExerciseAngina = as.factor(ExerciseAngina), 
           HeartDisease = as.factor(HeartDisease)) |>
    arrange(Age)
heart_data


scaled_heart_data <- heart_data |>
    mutate(scaled_age = scale(Age, center = TRUE), 
           scaled_BP = scale(RestingBP, center = TRUE),
           scaled_cholesterol = scale(Cholesterol, center = TRUE),
           scaled_HR_max = scale(MaxHR, center = TRUE)) |>
    select(scaled_age, Sex, scaled_BP, scaled_cholesterol, RestingECG, scaled_HR_max, ExerciseAngina, HeartDisease)
scaled_heart_data


set.seed(0)
heart_split <- initial_split(scaled_heart_data, prop = 0.75, strata = HeartDisease)  
heart_train <- 
heart_

Rows: 918 Columns: 12
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (5): Sex, ChestPainType, RestingECG, ExerciseAngina, ST_Slope
dbl (7): Age, RestingBP, Cholesterol, FastingBS, MaxHR, Oldpeak, HeartDisease

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

   Age Sex RestingBP Cholesterol RestingECG MaxHR ExerciseAngina HeartDisease
1  28  M   130       132         LVH        185   N              0
2  29  M   120       243         Normal     160   N              0
3  29  M   140       263         Normal     170   N              0
⋮  ⋮   ⋮   ⋮         ⋮           ⋮          ⋮     ⋮              ⋮
59 39  M   120       200         Normal     160   Y              0
60 39  M   118       219         Normal     140   N              1
61 39  M   140       321         LVH        182   N              0

   scaled_age Sex scaled_BP  scaled_cholesterol RestingECG scaled_HR_max
1  -2.749129  M    0.3176019 -0.7484786         LVH        1.2993678
2  -2.404073  M   -0.2935563  0.3275190         Normal     0.2189229
3  -2.404073  M    0.9287601  0.5213924         Normal     0.6511009
⋮  ⋮          ⋮   ⋮          ⋮                  ⋮          ⋮
59 1.046479   M   -0.2935563 -0.08930891        Normal      0.2189229
60 1.046479   M   -0.4157880  0.09487085        Normal     -0.6454329
61 1.046479   M    0.9287601  1.08362533        LVH         1.1697144
   ExerciseAngina HeartDisease
1  N              0
2  N              0
3  N              0
⋮  ⋮              ⋮
59 Y              0
60 N              1
61 N              0